input {
    display: inline-block;
    margin: 5px;
    height: 32px;
    width: 240px;
}

button {
    height: 36px;
    width: 248px;
    margin: 5px;
}

#poem {
    display: none;
    color: white;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    text-align: center;
}

#poem p {
    opacity: 0;
    margin: 6px 0;
    font-family: sans-serif;
}

/* Empty space between the poem and the numbers */
#poem .spacer {
    height: 20px;
    margin: 0;
    opacity: 1;
}

/* Fade in all actual text */
#poem.show p:not(.spacer) {
    animation: fadeIn 1.5s ease forwards;
}

/* Poem timing */
#poem.show p:nth-child(1) {
    animation-delay: 0s;
}

#poem.show p:nth-child(2) {
    animation-delay: 3s;
}

#poem.show p:nth-child(3) {
    animation-delay: 6s;
}

#poem.show p:nth-child(4) {
    animation-delay: 9s;
}

#poem.show p:nth-child(5) {
    animation-delay: 12s;
}

#poem.show p:nth-child(6) {
    animation-delay: 15s;
}

/* Number sequence */
#poem.show p.sequence {
    animation: fadeIn 5s ease forwards;
    animation-delay: 20s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
